*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(136, 136, 136);
}

h1{
    display: flex;
    background-color: rgba(0, 0, 0, 0.548);
    color: rgb(206, 206, 206);
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.conteiner {
    background-color: rgb(136, 136, 136);
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itens{
    background-color: aliceblue;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.itens:hover{
    width: 155px;
    height: 155px;
}

#dragonball{
    background-image: url(img/guku.jpeg);
    background-size: cover;
}
#tanjiro {
    background-image: url(img/Tanjiro\ Kamado.png);
    background-size: cover;
}
#saitama {
    background-image: url(img/saitama.jpeg);
    background-size: cover;
}
#blackClover {
    background-image: url(img/blackClover.jpeg);
    background-size: cover;
}
#titan{
    background-image: url(img/attackOnTitan.jpeg);
    background-size: cover;
}
#deathnote {
    background-image: url(img/deathNote.jpeg);
    background-size: cover;
}
#tokyo {
    background-image: url(img/Tokyo\ ghoul.png);
    background-size: cover;
}
#naruto {
    background-image: url(img/naruto.png);
    background-size: cover;
}
#dragonball > p {
    color: white;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
}
#tanjiro>p {
    color: white;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
}
#saitama>p {
    color: white;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
}
#blackClover>p {
    color: white;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
}
#titan>p {
    color: white;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
}
#deathnote>p {
    color: white;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
}
#tokyo>p {
    color: white;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
}
#naruto>p {
    color: white;
    text-align: center;
    padding: 5px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
}